<%= form_for(@user) do |f| %>


  <li><%= f.label :name %></li>
  <%= f.text_field :name, class: 'form-control' %>

  <li><%= f.label :email %></li>
  <%= f.email_field :email, class: 'form-control' %>

  <li><%= f.label :password %></li>
  <%= f.password_field :password, class: 'form-control' %>

  <li><%= f.label :password_confirmation %></li>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <li><%= f.submit yield(:button_text), class: "btn btn-primary" %></li>
<% end %>